@page "/Card/{cardId:int}"
@using InternetBank.Models
@using System.Security.Claims
@using InternetBank.Services
@using System.ComponentModel.DataAnnotations;
@inject CardsService cardService
@inject TransactionsService tranService
@inject NavigationManager navManager

<PageTitle>Карта</PageTitle>

<h1>Номер карты: @thisCard.Id</h1>
<h2>Баланс: @thisCard.Money</h2>
<div style="display:flex;justify-content:left">
	<fieldset style="height: max-content">
		<legend>Перевод по:</legend>
		<InputRadioGroup @bind-Value="IsEmail">
			<div>
				<InputRadio id="email" Value="true" />
				<label for="email">Почте</label>
			</div>
			<div>
				<InputRadio id="card" Value="false" />
				<label for="card">Номеру карты</label>
			</div>
		</InputRadioGroup>
	</fieldset>
	<div style="min-width:fit-content;padding:50px">
		@{
			if (IsEmail)
			{
				<EditForm Model="@DataModel" OnValidSubmit="SendMoney">
					<DataAnnotationsValidator />
					<div style="margin: 10px 0">
						<span>Введите почту:</span>
						<InputText @bind-Value="DataModel.ReceiverEmail" />
						<button type="button" @onclick="GetCardsReceiver">Показать карты</button>
						<ValidationMessage style="margin-bottom: 10px" For="@(() => DataModel.ReceiverEmail)" />
					</div>
					<div style="margin: 10px 0">
						@{
							if (DataModel.ReceiverCards.Count > 0)
							{
								<InputSelect @bind-Value="DataModel.RecieverIdCard">
									@foreach (var card in DataModel.ReceiverCards)
									{
										<option value="@card.Id">Id: @card.Id</option>
									}
								</InputSelect>
								<ValidationMessage style="margin-bottom: 10px" For="@(() => DataModel.RecieverIdCard)" />
							}
						}
					</div>
					<div style="margin: 10px 0">
						<span>Сумма:</span>
						<InputNumber @bind-Value="transaction.Money"></InputNumber>
						<button type="submit">Перевести</button>
						<p class="validation-message">@ErrorMessage</p>
					</div>
				</EditForm>
			}
			else
			{
				<EditForm Model="@DataModel" OnSubmit="SendMoney">
					<div style="margin: 10px 0">
						<span>Номер карты:</span>
						<InputNumber @bind-Value="DataModel.RecieverIdCard"></InputNumber>
					</div>
					<div style="margin: 10px 0">
						<span>Сумма:</span>
						<InputNumber @bind-Value="transaction.Money"></InputNumber>
						<button type="submit">Перевести</button>
					</div>
					<p class="validation-message">@ErrorMessage</p>
				</EditForm>
			}
		}
	</div>
	<div style="padding:20px;min-width:fit-content">
		<h4>Transaction history</h4>
		@foreach (var trans in transactions)
		{
			if (trans.RecieverIdCard == CardId)
			{
				<div style="margin:10px"><span>@trans.TransactionTime</span><span style="margin-left:20px;color:lawngreen">    + @trans.Money</span></div>
			}
			else
			{
				<div style="margin:10px"><span>@trans.TransactionTime</span><span style="margin-left:20px;color:red">    - @trans.Money</span></div>
			}
		}
	</div>
</div>


@code {
	[CascadingParameter] Task<AuthenticationState> auth { get; set; }
	[Parameter]
	public int CardId { get; set; }
	public int Id { get; set; }
	public Transaction transaction = new();
	List<Transaction> transactions = new();
	Card thisCard = new Card();
	private string ErrorMessage { get; set; } = "";
	private DataFormModel DataModel { get; set; } = new();
	private bool isEmail { get; set; } = true;
	private bool IsEmail
	{
		get { return isEmail; }

		set
		{
			isEmail = value;
			DataModel = new();
		}
	}

	public class DataFormModel
	{
		[Required(ErrorMessage = "Поле почта является обязательным.")]
		public string ReceiverEmail { get; set; } = "";
		public List<Card> ReceiverCards { get; set; } = new();
		[Range(1, Int32.MaxValue, ErrorMessage = "Выберите карту.")]
		public int RecieverIdCard { get; set; }

	}

	protected override async Task OnInitializedAsync()
	{
		var authState = await auth;
		if (!authState.User.Identity.IsAuthenticated)
		{
			navManager.NavigateTo("/", true);
		}
		Id = Convert.ToInt32(authState.User.Claims.SingleOrDefault(claim => claim.Type == "Id")?.Value.ToString());
		if((await cardService.GetCards(Id)).FirstOrDefault(card => card.Id == CardId) == null)
		{
			navManager.NavigateTo("/Account", true);
		}
		thisCard = await cardService.GetCard(Id);
		transactions = await tranService.GetTransactionHistory(Id);
	}

	private async Task SendMoney()
	{
		if (transaction.Money > 0)
		{
			transaction.SenderIdCard = CardId;
			transaction.RecieverIdCard = DataModel.RecieverIdCard;
			transaction.TransactionTime = DateTime.Now;
			var result = await tranService.AddMoneyTransaction(transaction);
			if (result.Success)
			{
				transactions = await tranService.GetTransactionHistory(Id);
				transaction = new();
			}
			ErrorMessage = result.Message;
		}		
	}

	private async Task GetCardsReceiver()
	{
		DataModel.ReceiverCards = await cardService.GetCards(DataModel.ReceiverEmail);
	}
}
